<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ csrf_token() }}" name="csrf-token">
    <title>Crypto Tracker</title>
    <!-- Import du CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    
</head>

<body>
    <!-- Header et nav -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flashes flashes-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Partie dynamique de l'application -->
    <main class="mx-content">
 

        {% block content %}
        {% endblock %}
    </main>
    {% block script %}
    {% endblock %}
</body>

</html>